In [ ]:
import pandas as pd
import numpy as np
import re
import string
from datetime import datetime
from datetime import date

import matplotlib.lines as mlines
import matplotlib.patches as mpatches
import matplotlib as mpl
import matplotlib.pyplot as plt
import os
import seaborn as sns

## Search hack on dataframes
### How to use: find(data,"movie_id","equal","tt6723088")

<h3>Search functions available</h3>

<ol>
  <li>Equal</li>
  <li>Not Equal</li>
  <li>Lessser than</li>
  <li>Greater than</li>
  <li>Null</li>    
  <li>Not null</li>
  <li>Contains</li>
  <li>Not contains</li>
  <li>Duplicate</li>
  <li>Index</li>
  <li>Unique Value</li>
  <li>Unique Count</li>
</ol>

In [ ]:
# Useful Search hack for any value in a column


def find(dataFrame,columnName,operation,searchElement):
    operation = operation.lower().translate(str.maketrans('', '', string.whitespace))
    if operation == "equal": 
        return dataFrame.loc[dataFrame[columnName] == searchElement]
    elif operation == "notequal":
        return dataFrame.loc[dataFrame[columnName] != searchElement]
    elif operation == "lesserthan":
        return dataFrame.loc[dataFrame[columnName] < searchElement]
    elif operation == "greaterthan": 
        return dataFrame.loc[dataFrame[columnName] > searchElement]
    elif operation == "null":
        return dataFrame.loc[dataFrame[columnName].isna()] 
    elif operation == "notnull":
        dataFrame.loc[dataFrame[columnName].notnull()]
    elif operation == "contains":
        return dataFrame[dataFrame[columnName].str.contains(searchElement)]
    elif operation == "notcontains":
        return dataFrame[~dataFrame[columnName].str.contains(searchElement)]   
    elif operation == "duplicate":
        return dataFrame[dataFrame.duplicated([columnName])].sort_values(by=[columnName])
    elif operation == "index":
        return dataFrame.index[dataFrame[columnName] == searchElement].tolist()
    elif operation == "uniquevalue":
        return dataFrame[columnName].unique()
    elif operation == "uniquecount":
        return dataFrame[columnName].nunique()
    else:
        print("The operations you can use are listed above! \n")

###  Read data from file path

In [3]:
# fileLocation = 'C:\\Users\\VictorY\\Desktop\\TestData\\stage3FinalProcessedDF_Nov-17-2019.csv'
# moviesDataFileLocation = 'C:\\Yuva\\ITU\\4th Sem\\Thesis\\Data\\Movies_Directors_WithAwards.csv'
# stage3 = 'C:\\Yuva\\ITU\\4th Sem\\Thesis\\Data\\stage3FinalProcessedDF_Mar-27-2020.csv'

# moviesDataFileLocation = os.path.join(os.path.realpath(os.path.pardir),'datasets\\data2_Movies_WithAwards.csv')
moviesDataFileLocation = os.path.join(os.path.realpath(os.path.pardir),'datasets\\data3_USA_Movies_WithAwards.csv')

saveFileToPath = "C:\\Yuva\\ITU\\4th Sem\\Thesis\\Data\\Datasets\\Directors\\"

data = pd.read_csv(moviesDataFileLocation)
# data = pd.read_csv(stage3)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Columns: 108 entries, director_ids to awards_won
dtypes: float64(29), int64(69), object(10)
memory usage: 2.2+ MB

In [5]:
# Uncomment in case you want to drop the one hot encoded features of awards features
Award_filter_col = [col for col in data if col.startswith('Award_')]
Winner_filter_col = [col for col in data if col.startswith('Winner_')]

data.drop(columns = Award_filter_col, inplace= True)
data.drop(columns = Winner_filter_col, inplace= True)

## Data processing - Fill 0 for missing year and N

In [6]:
data.columns.values

array(['director_ids', 'director_names', 'movie_id', 'title',
       'review_count_user', 'review_count_critic', 'metascore',
       'rating_value', 'rating_count', 'release_date', 'runtime',
       'movie_year', 'opening_weekend_value', 'gross_value',
       'budget_value', 'color_Black_and_White', 'color_Color',
       'language_Arabic', 'language_Dutch', 'language_English',
       'language_French', 'language_German', 'language_Greek',
       'language_Hindi', 'language_Italian', 'language_Japanese',
       'language_Mandarin', 'language_Other', 'language_Portuguese',
       'language_Russian', 'language_Spanish', 'language_Swedish',
       'language_Turkish', 'genre_Action', 'genre_Adult',
       'genre_Adventure', 'genre_Animation', 'genre_Biography',
       'genre_Comedy', 'genre_Crime', 'genre_Documentary', 'genre_Drama',
       'genre_Family', 'genre_Fantasy', 'genre_Film_Noir',
       'genre_Game_Show', 'genre_History', 'genre_Horror', 'genre_Music',
       'genre_Musical', 'genre_Mystery', 'genre_News', 'genre_None',
       'genre_Reality_TV', 'genre_Romance', 'genre_Sci_Fi', 'genre_Short',
       'genre_Sport', 'genre_Talk_Show', 'genre_Thriller', 'genre_War',
       'genre_Western', 'title_category_TV', 'title_category_movie',
       'title_category_video', 'title_subcategory_TV_episode',
       'title_subcategory_TV_miniseries', 'title_subcategory_TV_movie',
       'title_subcategory_TV_series', 'title_subcategory_TV_short',
       'title_subcategory_movie', 'title_subcategory_video', 'birthYear',
       'director_profession_primary', 'director_profession_secondary',
       'director_profession_tertiary', 'director_known_titles_count',
       'director_known_titles_average_rating_value',
       'clean_director_names', 'FirstName', 'Gender', 'CareerStartYear',
       'Career_Year_Number', 'Film', 'Ceremony', 'Name',
       'awards_nominated', 'awards_won'], dtype=object)

In [7]:
# data.drop(columns = ['awards_nominated', 'awards_won'],inplace= True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 88 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   director_ids                                2653 non-null   object
 1   director_names                              2653 non-null   object
 2   movie_id                                    2653 non-null   object
 3   title                                       2653 non-null   object
 4   review_count_user                           2653 non-null   int64
 5   review_count_critic                         2653 non-null   int64
 6   metascore                                   2653 non-null   int64
 7   rating_value                                2653 non-null   float64
 8   rating_count                                2653 non-null   int64
 9   release_date                                2653 non-null   object
 10  runtime                                     2653 non-null   float64
 11  movie_year                                  2653 non-null   int64
 12  opening_weekend_value                       2653 non-null   float64
 13  gross_value                                 2653 non-null   float64
 14  budget_value                                2653 non-null   float64
 15  color_Black_and_White                       2653 non-null   int64
 16  color_Color                                 2653 non-null   int64
 17  language_Arabic                             2653 non-null   int64
 18  language_Dutch                              2653 non-null   int64
 19  language_English                            2653 non-null   int64
 20  language_French                             2653 non-null   int64
 21  language_German                             2653 non-null   int64
 22  language_Greek                              2653 non-null   int64
 23  language_Hindi                              2653 non-null   int64
 24  language_Italian                            2653 non-null   int64
 25  language_Japanese                           2653 non-null   int64
 26  language_Mandarin                           2653 non-null   int64
 27  language_Other                              2653 non-null   int64
 28  language_Portuguese                         2653 non-null   int64
 29  language_Russian                            2653 non-null   int64
 30  language_Spanish                            2653 non-null   int64
 31  language_Swedish                            2653 non-null   int64
 32  language_Turkish                            2653 non-null   int64
 33  genre_Action                                2653 non-null   int64
 34  genre_Adult                                 2653 non-null   int64
 35  genre_Adventure                             2653 non-null   int64
 36  genre_Animation                             2653 non-null   int64
 37  genre_Biography                             2653 non-null   int64
 38  genre_Comedy                                2653 non-null   int64
 39  genre_Crime                                 2653 non-null   int64
 40  genre_Documentary                           2653 non-null   int64
 41  genre_Drama                                 2653 non-null   int64
 42  genre_Family                                2653 non-null   int64
 43  genre_Fantasy                               2653 non-null   int64
 44  genre_Film_Noir                             2653 non-null   int64
 45  genre_Game_Show                             2653 non-null   int64
 46  genre_History                               2653 non-null   int64
 47  genre_Horror                                2653 non-null   int64
 48  genre_Music                                 2653 non-null   int64
 49  genre_Musical                               2653 non-null   int64
 50  genre_Mystery                               2653 non-null   int64
 51  genre_News                                  2653 non-null   int64
 52  genre_None                                  2653 non-null   int64
 53  genre_Reality_TV                            2653 non-null   int64
 54  genre_Romance                               2653 non-null   int64
 55  genre_Sci_Fi                                2653 non-null   int64
 56  genre_Short                                 2653 non-null   int64
 57  genre_Sport                                 2653 non-null   int64
 58  genre_Talk_Show                             2653 non-null   int64
 59  genre_Thriller                              2653 non-null   int64
 60  genre_War                                   2653 non-null   int64
 61  genre_Western                               2653 non-null   int64
 62  title_category_TV                           2653 non-null   int64
 63  title_category_movie                        2653 non-null   int64
 64  title_category_video                        2653 non-null   int64
 65  title_subcategory_TV_episode                2653 non-null   int64
 66  title_subcategory_TV_miniseries             2653 non-null   int64
 67  title_subcategory_TV_movie                  2653 non-null   int64
 68  title_subcategory_TV_series                 2653 non-null   int64
 69  title_subcategory_TV_short                  2653 non-null   int64
 70  title_subcategory_movie                     2653 non-null   int64
 71  title_subcategory_video                     2653 non-null   int64
 72  birthYear                                   2653 non-null   int64
 73  director_profession_primary                 2653 non-null   int64
 74  director_profession_secondary               2653 non-null   int64
 75  director_profession_tertiary                2653 non-null   int64
 76  director_known_titles_count                 2653 non-null   int64
 77  director_known_titles_average_rating_value  2653 non-null   float64
 78  clean_director_names                        2653 non-null   object
 79  FirstName                                   2653 non-null   object
 80  Gender                                      2653 non-null   object
 81  CareerStartYear                             2653 non-null   int64
 82  Career_Year_Number                          2653 non-null   int64
 83  Film                                        2652 non-null   object
 84  Ceremony                                    2653 non-null   float64
 85  Name                                        2653 non-null   object
 86  awards_nominated                            2653 non-null   float64
 87  awards_won                                  2653 non-null   float64
dtypes: float64(9), int64(69), object(10)
memory usage: 1.8+ MB

In [9]:
data.shape

(2653, 88)

In [10]:
# # Reset the missing years in birth and death year of director to 0

# data.loc[data['deathYear'].isna(), 'deathYear'] = 0
# data.loc[data['birthYear'].isna(), 'birthYear'] = 0

In [11]:
print("Unique directors in this dataframe : ",data.director_ids.nunique())

Unique directors in this dataframe :  1215

In [12]:
find(data,"movie_id","uniquecount",0)

2535

In [13]:
data.Gender.value_counts()

Male      2311
Female     342
Name: Gender, dtype: int64

In [14]:
withFirstMovieYearDF = data.copy()

In [15]:
withFirstMovieYearDF.head(3)

,director_ids,director_names,movie_id,title,review_count_user,review_count_critic,metascore,rating_value,rating_count,release_date,...,clean_director_names,FirstName,Gender,CareerStartYear,Career_Year_Number,Film,Ceremony,Name,awards_nominated,awards_won
0,nm0000122,Charles Chaplin,tt0027977,Les temps modernes (1936) - IMDb,213,119,96,8.6,147990,24 September 1936 (France) See more »,...,charles chaplin,charles,Male,1914,23,Les temps modernes,0.0,0,0.0,0.0
1,nm0281808,Victor Fleming,tt0032138,"Óz, a csodák csodája (1939) - IMDb",540,213,100,8.1,299644,21 March 1940 (Hungary) See more »,...,victor fleming,victor,Male,1919,21,"Óz, a csodák csodája",0.0,0,0.0,0.0
2,nm0002030,George Cukor,tt0032138,"Óz, a csodák csodája (1939) - IMDb",540,213,100,8.1,299644,21 March 1940 (Hungary) See more »,...,george cukor,george,Male,1930,10,"Óz, a csodák csodája",0.0,0,0.0,0.0

## Functions to save data to file with dataframe name.

In [16]:
# Helper method for save_to_file

def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [17]:
# Function: Save Dataframe to CSV

def save_to_file(dataFrame, folderPath):
    today = date.today()
    todayDate = today.strftime("%b-%d-%Y")
#     dataFrame.to_csv(folderPath+ '\\' + get_df_name(dataFrame) + '_' + todayDate  + '.csv',index=False, encoding="utf8" )
    dataFrame.to_csv(folderPath+ '\\' + get_df_name(dataFrame) + '_' + todayDate  + '.csv',index=False, encoding="utf-8-sig" )

## Fetch the first movie year and career year number of each movie

In [18]:
# # Dataframe to group the directors and find the minimum movie year which indicates the Career Start year
# directorsCareerStartYearDF = data.loc[data.groupby('director_ids')['movie_year'].idxmin()][['movie_year','director_ids']]

# # Rename the column Movie Year to CareerStartYear
# directorsCareerStartYearDF = directorsCareerStartYearDF.rename(columns={'movie_year':'CareerStartYear'})
# directorsCareerStartYearDF

In [19]:
# directorsCareerStartYearDF['CareerStartYear'].describe()

In [20]:
# # Merge the Directors Career Start Year with the original data set
# withFirstMovieYearDF = data.merge(directorsCareerStartYearDF, on='director_ids',how = 'left')

# # Generate a column with Career Year number. i.e - Movie year - Career Start Year + 1
# withFirstMovieYearDF["Career_Year_Number"] = withFirstMovieYearDF.movie_year - withFirstMovieYearDF.CareerStartYear + 1

In [21]:
# withFirstMovieYearDF.loc[withFirstMovieYearDF.Career_Year_Number == 0,'Career_Year_Number'] = 1

In [22]:
withFirstMovieYearDF.nunique()

director_ids         1215
director_names       1215
movie_id             2535
title                2535
review_count_user     853
                     ...
Film                 2529
Ceremony               34
Name                  123
awards_nominated        4
awards_won              3
Length: 88, dtype: int64

### Generate inter_event_time column which contains the time between consequtive movies

In [23]:
print("Shape of dataset : ",withFirstMovieYearDF.shape)

# Sort the values by director_ids and movie_year to have a dataset in chronological order of movies released per director
withFirstMovieYearDF = withFirstMovieYearDF.sort_values(by=['director_ids', 'movie_year'],ascending=[True,True])

# Use the diff() function which finds the differences between the value in a current cell compared to the one above
withFirstMovieYearDF['inter_event_time'] = withFirstMovieYearDF.movie_year.diff()

# Group the directors and find the minimum movie year index of each director 
# and replace them with 0 or Nan since their values are the first in each group and should be zero or Nan

withFirstMovieYearDF.loc[withFirstMovieYearDF.groupby('director_ids')['movie_year'].idxmin(),'inter_event_time'] = None

withFirstMovieYearDF = withFirstMovieYearDF.sort_index()
print("Shape of dataset after adding the inter_event_time : ",withFirstMovieYearDF.shape)

Shape of dataset :  (2653, 88)
Shape of dataset after adding the inter_event_time :  (2653, 89)

In [24]:
withFirstMovieYearDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2653 entries, 0 to 2652
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   director_ids                                2653 non-null   object
 1   director_names                              2653 non-null   object
 2   movie_id                                    2653 non-null   object
 3   title                                       2653 non-null   object
 4   review_count_user                           2653 non-null   int64
 5   review_count_critic                         2653 non-null   int64
 6   metascore                                   2653 non-null   int64
 7   rating_value                                2653 non-null   float64
 8   rating_count                                2653 non-null   int64
 9   release_date                                2653 non-null   object
 10  runtime                                     2653 non-null   float64
 11  movie_year                                  2653 non-null   int64
 12  opening_weekend_value                       2653 non-null   float64
 13  gross_value                                 2653 non-null   float64
 14  budget_value                                2653 non-null   float64
 15  color_Black_and_White                       2653 non-null   int64
 16  color_Color                                 2653 non-null   int64
 17  language_Arabic                             2653 non-null   int64
 18  language_Dutch                              2653 non-null   int64
 19  language_English                            2653 non-null   int64
 20  language_French                             2653 non-null   int64
 21  language_German                             2653 non-null   int64
 22  language_Greek                              2653 non-null   int64
 23  language_Hindi                              2653 non-null   int64
 24  language_Italian                            2653 non-null   int64
 25  language_Japanese                           2653 non-null   int64
 26  language_Mandarin                           2653 non-null   int64
 27  language_Other                              2653 non-null   int64
 28  language_Portuguese                         2653 non-null   int64
 29  language_Russian                            2653 non-null   int64
 30  language_Spanish                            2653 non-null   int64
 31  language_Swedish                            2653 non-null   int64
 32  language_Turkish                            2653 non-null   int64
 33  genre_Action                                2653 non-null   int64
 34  genre_Adult                                 2653 non-null   int64
 35  genre_Adventure                             2653 non-null   int64
 36  genre_Animation                             2653 non-null   int64
 37  genre_Biography                             2653 non-null   int64
 38  genre_Comedy                                2653 non-null   int64
 39  genre_Crime                                 2653 non-null   int64
 40  genre_Documentary                           2653 non-null   int64
 41  genre_Drama                                 2653 non-null   int64
 42  genre_Family                                2653 non-null   int64
 43  genre_Fantasy                               2653 non-null   int64
 44  genre_Film_Noir                             2653 non-null   int64
 45  genre_Game_Show                             2653 non-null   int64
 46  genre_History                               2653 non-null   int64
 47  genre_Horror                                2653 non-null   int64
 48  genre_Music                                 2653 non-null   int64
 49  genre_Musical                               2653 non-null   int64
 50  genre_Mystery                               2653 non-null   int64
 51  genre_News                                  2653 non-null   int64
 52  genre_None                                  2653 non-null   int64
 53  genre_Reality_TV                            2653 non-null   int64
 54  genre_Romance                               2653 non-null   int64
 55  genre_Sci_Fi                                2653 non-null   int64
 56  genre_Short                                 2653 non-null   int64
 57  genre_Sport                                 2653 non-null   int64
 58  genre_Talk_Show                             2653 non-null   int64
 59  genre_Thriller                              2653 non-null   int64
 60  genre_War                                   2653 non-null   int64
 61  genre_Western                               2653 non-null   int64
 62  title_category_TV                           2653 non-null   int64
 63  title_category_movie                        2653 non-null   int64
 64  title_category_video                        2653 non-null   int64
 65  title_subcategory_TV_episode                2653 non-null   int64
 66  title_subcategory_TV_miniseries             2653 non-null   int64
 67  title_subcategory_TV_movie                  2653 non-null   int64
 68  title_subcategory_TV_series                 2653 non-null   int64
 69  title_subcategory_TV_short                  2653 non-null   int64
 70  title_subcategory_movie                     2653 non-null   int64
 71  title_subcategory_video                     2653 non-null   int64
 72  birthYear                                   2653 non-null   int64
 73  director_profession_primary                 2653 non-null   int64
 74  director_profession_secondary               2653 non-null   int64
 75  director_profession_tertiary                2653 non-null   int64
 76  director_known_titles_count                 2653 non-null   int64
 77  director_known_titles_average_rating_value  2653 non-null   float64
 78  clean_director_names                        2653 non-null   object
 79  FirstName                                   2653 non-null   object
 80  Gender                                      2653 non-null   object
 81  CareerStartYear                             2653 non-null   int64
 82  Career_Year_Number                          2653 non-null   int64
 83  Film                                        2652 non-null   object
 84  Ceremony                                    2653 non-null   float64
 85  Name                                        2653 non-null   object
 86  awards_nominated                            2653 non-null   float64
 87  awards_won                                  2653 non-null   float64
 88  inter_event_time                            1438 non-null   float64
dtypes: float64(10), int64(69), object(10)
memory usage: 1.8+ MB

In [25]:
# Convert into int years before using for calculations

withFirstMovieYearDF.movie_year = withFirstMovieYearDF.movie_year.astype(int)
withFirstMovieYearDF.birthYear = withFirstMovieYearDF.birthYear.astype(int)

#### Right censoring or Posthumous Recognition

In [26]:
# # Posthumous Recoginition
# # The records which we believe contain Posthumous data. i.e. movies released after n years of directors death
# years_after_death = 2
# dropIncorrectlyRecordedYears = withFirstMovieYearDF.loc[(withFirstMovieYearDF.movie_year - withFirstMovieYearDF.deathYear >= years_after_death) & (withFirstMovieYearDF.deathYear !=0)]
# dropIncorrectlyRecordedYears

# # Drop all values containing movies released after n years as per the above assumption

# withFirstMovieYearDF.drop(dropIncorrectlyRecordedYears.index, inplace= True)

In [27]:
withFirstMovieYearDF.head(3)

,director_ids,director_names,movie_id,title,review_count_user,review_count_critic,metascore,rating_value,rating_count,release_date,...,FirstName,Gender,CareerStartYear,Career_Year_Number,Film,Ceremony,Name,awards_nominated,awards_won,inter_event_time
0,nm0000122,Charles Chaplin,tt0027977,Les temps modernes (1936) - IMDb,213,119,96,8.6,147990,24 September 1936 (France) See more »,...,charles,Male,1914,23,Les temps modernes,0.0,0,0.0,0.0,NaN
1,nm0281808,Victor Fleming,tt0032138,"Óz, a csodák csodája (1939) - IMDb",540,213,100,8.1,299644,21 March 1940 (Hungary) See more »,...,victor,Male,1919,21,"Óz, a csodák csodája",0.0,0,0.0,0.0,NaN
2,nm0002030,George Cukor,tt0032138,"Óz, a csodák csodája (1939) - IMDb",540,213,100,8.1,299644,21 March 1940 (Hungary) See more »,...,george,Male,1930,10,"Óz, a csodák csodája",0.0,0,0.0,0.0,NaN

In [28]:
withFirstMovieYearDF.Career_Year_Number.value_counts(dropna=False)

1     188
13    116
12     99
15     99
14     98
10     98
8      96
20     94
9      93
18     91
11     91
17     89
16     86
6      86
21     76
7      76
5      70
4      66
19     60
23     58
22     55
24     54
25     50
3      48
27     46
26     45
28     42
29     37
31     33
30     33
34     32
38     27
33     26
32     24
39     23
35     22
36     20
37     19
40     19
2      18
44     18
42     17
46     17
41     16
45     14
48     11
43     10
53      8
51      7
49      6
47      6
50      6
52      5
54      3
61      1
56      1
58      1
57      1
55      1
60      1
Name: Career_Year_Number, dtype: int64

## Director Specific collection

In [29]:
# # Convert rating_value into float before using for aggregation - withFirstMovieYear along with Metascore None records
# withFirstMovieYearDF.rating_value = withFirstMovieYearDF.rating_value.astype(float)
# withFirstMovieYearDF.rating_count = withFirstMovieYearDF.rating_count.astype(int)

In [30]:
withFirstMovieYearDF.Gender.value_counts()

Male      2311
Female     342
Name: Gender, dtype: int64

In [31]:
withFirstMovieYearDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2653 entries, 0 to 2652
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   director_ids                                2653 non-null   object
 1   director_names                              2653 non-null   object
 2   movie_id                                    2653 non-null   object
 3   title                                       2653 non-null   object
 4   review_count_user                           2653 non-null   int64
 5   review_count_critic                         2653 non-null   int64
 6   metascore                                   2653 non-null   int64
 7   rating_value                                2653 non-null   float64
 8   rating_count                                2653 non-null   int64
 9   release_date                                2653 non-null   object
 10  runtime                                     2653 non-null   float64
 11  movie_year                                  2653 non-null   int32
 12  opening_weekend_value                       2653 non-null   float64
 13  gross_value                                 2653 non-null   float64
 14  budget_value                                2653 non-null   float64
 15  color_Black_and_White                       2653 non-null   int64
 16  color_Color                                 2653 non-null   int64
 17  language_Arabic                             2653 non-null   int64
 18  language_Dutch                              2653 non-null   int64
 19  language_English                            2653 non-null   int64
 20  language_French                             2653 non-null   int64
 21  language_German                             2653 non-null   int64
 22  language_Greek                              2653 non-null   int64
 23  language_Hindi                              2653 non-null   int64
 24  language_Italian                            2653 non-null   int64
 25  language_Japanese                           2653 non-null   int64
 26  language_Mandarin                           2653 non-null   int64
 27  language_Other                              2653 non-null   int64
 28  language_Portuguese                         2653 non-null   int64
 29  language_Russian                            2653 non-null   int64
 30  language_Spanish                            2653 non-null   int64
 31  language_Swedish                            2653 non-null   int64
 32  language_Turkish                            2653 non-null   int64
 33  genre_Action                                2653 non-null   int64
 34  genre_Adult                                 2653 non-null   int64
 35  genre_Adventure                             2653 non-null   int64
 36  genre_Animation                             2653 non-null   int64
 37  genre_Biography                             2653 non-null   int64
 38  genre_Comedy                                2653 non-null   int64
 39  genre_Crime                                 2653 non-null   int64
 40  genre_Documentary                           2653 non-null   int64
 41  genre_Drama                                 2653 non-null   int64
 42  genre_Family                                2653 non-null   int64
 43  genre_Fantasy                               2653 non-null   int64
 44  genre_Film_Noir                             2653 non-null   int64
 45  genre_Game_Show                             2653 non-null   int64
 46  genre_History                               2653 non-null   int64
 47  genre_Horror                                2653 non-null   int64
 48  genre_Music                                 2653 non-null   int64
 49  genre_Musical                               2653 non-null   int64
 50  genre_Mystery                               2653 non-null   int64
 51  genre_News                                  2653 non-null   int64
 52  genre_None                                  2653 non-null   int64
 53  genre_Reality_TV                            2653 non-null   int64
 54  genre_Romance                               2653 non-null   int64
 55  genre_Sci_Fi                                2653 non-null   int64
 56  genre_Short                                 2653 non-null   int64
 57  genre_Sport                                 2653 non-null   int64
 58  genre_Talk_Show                             2653 non-null   int64
 59  genre_Thriller                              2653 non-null   int64
 60  genre_War                                   2653 non-null   int64
 61  genre_Western                               2653 non-null   int64
 62  title_category_TV                           2653 non-null   int64
 63  title_category_movie                        2653 non-null   int64
 64  title_category_video                        2653 non-null   int64
 65  title_subcategory_TV_episode                2653 non-null   int64
 66  title_subcategory_TV_miniseries             2653 non-null   int64
 67  title_subcategory_TV_movie                  2653 non-null   int64
 68  title_subcategory_TV_series                 2653 non-null   int64
 69  title_subcategory_TV_short                  2653 non-null   int64
 70  title_subcategory_movie                     2653 non-null   int64
 71  title_subcategory_video                     2653 non-null   int64
 72  birthYear                                   2653 non-null   int32
 73  director_profession_primary                 2653 non-null   int64
 74  director_profession_secondary               2653 non-null   int64
 75  director_profession_tertiary                2653 non-null   int64
 76  director_known_titles_count                 2653 non-null   int64
 77  director_known_titles_average_rating_value  2653 non-null   float64
 78  clean_director_names                        2653 non-null   object
 79  FirstName                                   2653 non-null   object
 80  Gender                                      2653 non-null   object
 81  CareerStartYear                             2653 non-null   int64
 82  Career_Year_Number                          2653 non-null   int64
 83  Film                                        2652 non-null   object
 84  Ceremony                                    2653 non-null   float64
 85  Name                                        2653 non-null   object
 86  awards_nominated                            2653 non-null   float64
 87  awards_won                                  2653 non-null   float64
 88  inter_event_time                            1438 non-null   float64
dtypes: float64(10), int32(2), int64(67), object(10)
memory usage: 1.8+ MB

In [32]:
def roundOfMean(x):
    return round(np.mean(x),2)

In [33]:
# groupByAggregationDirector = {
#     'movies_produced': ('movie_id','count'),
#     'Average_rating_value': ('rating_value',roundOfMean),
#     'Average_rating_count': ('rating_count',roundOfMean),
#     'career_Length': ('Career_Year_Number','max')
# }

# groupByListDirectors = ['director_ids','birthYear','deathYear','primaryProfession','knownForTitles','Gender']

### Number of  Awards each movie was nominated

In [34]:
withFirstMovieYearDF['awards_nominated'].sum()

217.0

In [35]:
# print('Shape of data :', withFirstMovieYearDF.shape)
# # Extract the columns starting with awards that represent the awards nominated for
# nominated_awards_filter_col = [col for col in withFirstMovieYearDF if col.startswith('Award_')]

# # Store nominated awards data
# nominated_awards_df = withFirstMovieYearDF[nominated_awards_filter_col]

# # # Drop these from the original dataframe
# # withFirstMovieYearDF.drop(columns= nominated_awards_filter_col,inplace = True)
# # print('Shape of data after dropping the awards nominated features:', withFirstMovieYearDF.shape)

# # Extract the awards nominated by each movie by summing across the columns
# withFirstMovieYearDF['awards_nominated']= nominated_awards_df.sum(axis='columns')
# withFirstMovieYearDF['awards_nominated'].sum()
# print('Shape of data after extracting the number of awards nominated feature:', withFirstMovieYearDF.shape)

### Awards won by each movie

In [36]:
withFirstMovieYearDF['awards_won'].sum()

53.0

In [37]:
# print('Shape of data :', withFirstMovieYearDF.shape)
# # Extract the columns starting with awards that represent the awards won
# winner_awards_filter_col = [col for col in withFirstMovieYearDF if col.startswith('Winner_')]

# # Store awards won data
# winner_awards_df = withFirstMovieYearDF[winner_awards_filter_col]

# # # Drop these from the original dataframe
# # withFirstMovieYearDF.drop(columns= winner_awards_filter_col,inplace =True )
# # print('Shape of data after dropping the awards won features:', withFirstMovieYearDF.shape)

# # Extract the awards won by each movie by summing across the columns
# withFirstMovieYearDF['awards_won'] = winner_awards_df.sum(axis='columns')
# withFirstMovieYearDF['awards_won'].sum()
# print('Shape of data after extracting the number of awards won feature:', withFirstMovieYearDF.shape)

### Number of countries movies released in

In [38]:
print('Shape of data :', withFirstMovieYearDF.shape)
# Extract the columns starting with awards that represent the awards won
total_countries_movies_released_filter_col = [col for col in withFirstMovieYearDF if col.startswith('country_')]

# Store countries awards in df
countries_movies_df = withFirstMovieYearDF[total_countries_movies_released_filter_col]

# Extract the number of countries each movie was released in
withFirstMovieYearDF['num_countries_movie_released'] = countries_movies_df.sum(axis='columns')
print('Shape of data after extracting the number of countries where the movies was released:', withFirstMovieYearDF.shape)

Shape of data : (2653, 89)
Shape of data after extracting the number of countries where the movies was released: (2653, 90)

In [39]:
withFirstMovieYearDF['num_countries_movie_released'].value_counts()

0.0    2653
Name: num_countries_movie_released, dtype: int64

### Choose if you want director specific data for all records or TV Episodes only records or movie only records

In [40]:
safeCopy = withFirstMovieYearDF.copy()

In [41]:
# tv_data = withFirstMovieYearDF[withFirstMovieYearDF.tv_or_movie=='TV'].reset_index(drop = True)
# movie_data = withFirstMovieYearDF[withFirstMovieYearDF.tv_or_movie=='Movie'].reset_index(drop = True)
# withFirstMovieYearDF = movie_data
# # withFirstMovieYearDF = tv_data

## Generate cumulative Director Dataframe

In [42]:
genre_filter_col = [col + " = ('"+col+"','max')," for col in withFirstMovieYearDF if col.startswith('genre_')]

for i in genre_filter_col:
    print(i)

genre_Action = ('genre_Action','max'),
genre_Adult = ('genre_Adult','max'),
genre_Adventure = ('genre_Adventure','max'),
genre_Animation = ('genre_Animation','max'),
genre_Biography = ('genre_Biography','max'),
genre_Comedy = ('genre_Comedy','max'),
genre_Crime = ('genre_Crime','max'),
genre_Documentary = ('genre_Documentary','max'),
genre_Drama = ('genre_Drama','max'),
genre_Family = ('genre_Family','max'),
genre_Fantasy = ('genre_Fantasy','max'),
genre_Film_Noir = ('genre_Film_Noir','max'),
genre_Game_Show = ('genre_Game_Show','max'),
genre_History = ('genre_History','max'),
genre_Horror = ('genre_Horror','max'),
genre_Music = ('genre_Music','max'),
genre_Musical = ('genre_Musical','max'),
genre_Mystery = ('genre_Mystery','max'),
genre_News = ('genre_News','max'),
genre_None = ('genre_None','max'),
genre_Reality_TV = ('genre_Reality_TV','max'),
genre_Romance = ('genre_Romance','max'),
genre_Sci_Fi = ('genre_Sci_Fi','max'),
genre_Short = ('genre_Short','max'),
genre_Sport = ('genre_Sport','max'),
genre_Talk_Show = ('genre_Talk_Show','max'),
genre_Thriller = ('genre_Thriller','max'),
genre_War = ('genre_War','max'),
genre_Western = ('genre_Western','max'),

In [43]:
countries_filter_col = [col + " = ('"+col+"','max')," for col in withFirstMovieYearDF if col.startswith('country_')]
for i in countries_filter_col:
    print(i)

In [44]:
watch_category_filter_col = ["total_" + col + " = ('"+col+"','sum')," for col in withFirstMovieYearDF if col.startswith('director_')]

for i in watch_category_filter_col:
    print(i)

total_director_ids = ('director_ids','sum'),
total_director_names = ('director_names','sum'),
total_director_profession_primary = ('director_profession_primary','sum'),
total_director_profession_secondary = ('director_profession_secondary','sum'),
total_director_profession_tertiary = ('director_profession_tertiary','sum'),
total_director_known_titles_count = ('director_known_titles_count','sum'),
total_director_known_titles_average_rating_value = ('director_known_titles_average_rating_value','sum'),

In [45]:
budget_cur_filter_col = [ col + " = ('"+col+"','first')," for col in withFirstMovieYearDF if col.startswith('budget_cur_')]

for i in budget_cur_filter_col:
    print(i)

In [46]:
language_filter_col = [ col + " = ('"+col+"','max')," for col in withFirstMovieYearDF if col.startswith('language_')]

for i in language_filter_col:
    print(i)

language_Arabic = ('language_Arabic','max'),
language_Dutch = ('language_Dutch','max'),
language_English = ('language_English','max'),
language_French = ('language_French','max'),
language_German = ('language_German','max'),
language_Greek = ('language_Greek','max'),
language_Hindi = ('language_Hindi','max'),
language_Italian = ('language_Italian','max'),
language_Japanese = ('language_Japanese','max'),
language_Mandarin = ('language_Mandarin','max'),
language_Other = ('language_Other','max'),
language_Portuguese = ('language_Portuguese','max'),
language_Russian = ('language_Russian','max'),
language_Spanish = ('language_Spanish','max'),
language_Swedish = ('language_Swedish','max'),
language_Turkish = ('language_Turkish','max'),

In [47]:
title_filter_col = [ col + " = ('"+col+"','sum')," for col in withFirstMovieYearDF if col.startswith('title_')]

for i in title_filter_col:
    print(i)

title_category_TV = ('title_category_TV','sum'),
title_category_movie = ('title_category_movie','sum'),
title_category_video = ('title_category_video','sum'),
title_subcategory_TV_episode = ('title_subcategory_TV_episode','sum'),
title_subcategory_TV_miniseries = ('title_subcategory_TV_miniseries','sum'),
title_subcategory_TV_movie = ('title_subcategory_TV_movie','sum'),
title_subcategory_TV_series = ('title_subcategory_TV_series','sum'),
title_subcategory_TV_short = ('title_subcategory_TV_short','sum'),
title_subcategory_movie = ('title_subcategory_movie','sum'),
title_subcategory_video = ('title_subcategory_video','sum'),

### Create dictionary for aggregate

In [48]:
def dictionary_creator(listofKeys, aggregateValue = 'sum'):
    listOfValues = [aggregateValue] * len(listofKeys)
    aggDictionary = dict(zip(listofKeys, listOfValues))
    return aggDictionary

In [49]:
def merge_dictionary():
    sumDict = dictionary_creator(aggSumList,'sum')
    firstDict = dictionary_creator(aggFirstList,'first')
    roundOfMeanDic = dictionary_creator(aggRoundOfMeanList,'first')

In [50]:
# # aggSumList = []
# # aggFirstList = []
# # aggRoundOfMeanList = ['review_count_user',]
# # aggCountList = []


# x = dictionary_creator(aggRoundOfMeanList,'sum')
# y = dictionary_creator([1,2,6],'sum')

# x.update(y)

In [51]:
break

SyntaxError: 'break' outside loop (<ipython-input-51-6aaf1f276005>, line 4)

In [52]:
withFirstMovieYearDF.columns.values

array(['director_ids', 'director_names', 'movie_id', 'title',
       'review_count_user', 'review_count_critic', 'metascore',
       'rating_value', 'rating_count', 'release_date', 'runtime',
       'movie_year', 'opening_weekend_value', 'gross_value',
       'budget_value', 'color_Black_and_White', 'color_Color',
       'language_Arabic', 'language_Dutch', 'language_English',
       'language_French', 'language_German', 'language_Greek',
       'language_Hindi', 'language_Italian', 'language_Japanese',
       'language_Mandarin', 'language_Other', 'language_Portuguese',
       'language_Russian', 'language_Spanish', 'language_Swedish',
       'language_Turkish', 'genre_Action', 'genre_Adult',
       'genre_Adventure', 'genre_Animation', 'genre_Biography',
       'genre_Comedy', 'genre_Crime', 'genre_Documentary', 'genre_Drama',
       'genre_Family', 'genre_Fantasy', 'genre_Film_Noir',
       'genre_Game_Show', 'genre_History', 'genre_Horror', 'genre_Music',
       'genre_Musical', 'genre_Mystery', 'genre_News', 'genre_None',
       'genre_Reality_TV', 'genre_Romance', 'genre_Sci_Fi', 'genre_Short',
       'genre_Sport', 'genre_Talk_Show', 'genre_Thriller', 'genre_War',
       'genre_Western', 'title_category_TV', 'title_category_movie',
       'title_category_video', 'title_subcategory_TV_episode',
       'title_subcategory_TV_miniseries', 'title_subcategory_TV_movie',
       'title_subcategory_TV_series', 'title_subcategory_TV_short',
       'title_subcategory_movie', 'title_subcategory_video', 'birthYear',
       'director_profession_primary', 'director_profession_secondary',
       'director_profession_tertiary', 'director_known_titles_count',
       'director_known_titles_average_rating_value',
       'clean_director_names', 'FirstName', 'Gender', 'CareerStartYear',
       'Career_Year_Number', 'Film', 'Ceremony', 'Name',
       'awards_nominated', 'awards_won', 'inter_event_time',
       'num_countries_movie_released'], dtype=object)

# For preparing Director dataset 1

In [53]:
# # Groupby List
# groupByListDirectors = ['director_ids']

# print("Shape of dataset begore group by : ",withFirstMovieYearDF.shape)

# # Group by aggregation to generate columns
# cumulativeDirectorDF = withFirstMovieYearDF.groupby(groupByListDirectors) \
#                                      .agg({'director_names':'first',
#                                            'movie_id':'count',
#                                            'rating_value': roundOfMean,
#                                            'rating_count': roundOfMean,
#                                            'Career_Year_Number':'max',
#                                            'Gender':'first',
#                                            'birthYear':'first',
#                                            'CareerStartYear':'first',
#                                            'inter_event_time':'median'
#                                           }) \
#                                      .reset_index()

# # Columns renamed
# cumulativeDirectorDF = cumulativeDirectorDF.rename(columns={'movie_id':'movies_produced',
#                                                             'rating_value':'Average_rating_value',
#                                                             'rating_count':'Average_rating_count',
#                                                             'Career_Year_Number':'career_Length',
#                                                             'director_names':'director_name',
#                                                             'inter_event_time':'median_inter_event_time'
#                                                             }
#                                                   )

# cumulativeDirectorDF['average_movie_per_year'] = round(cumulativeDirectorDF.movies_produced / cumulativeDirectorDF.career_Length,2)

# # cumulativeDirectorDF['average_time_between_consecutive_movies'] = round(cumulativeDirectorDF['time_between_consecutive_movies'] / (cumulativeDirectorDF.movies_produced),2)
# cumulativeDirectorDF['average_inter_event_time'] = round((cumulativeDirectorDF.career_Length-1) / (cumulativeDirectorDF.movies_produced - 1) ,2)
# cumulativeDirectorDF = cumulativeDirectorDF.fillna(0)
# # cumulativeDirectorDF[cumulativeDirectorDF.movies_produced>1]
# print("Shape of dataset after group by : ",cumulativeDirectorDF.shape)

## Named aggregation : For Preparing Director dataset 2

In [54]:
# # Groupby List
# groupByListDirectors = ['director_ids']

# print("Shape of dataset begore group by : ",withFirstMovieYearDF.shape)

# # Group by aggregation to generate columns
# cumulativeDirectorDF = withFirstMovieYearDF.groupby(groupByListDirectors)\
#                                            .agg(\
#                                                 director_name = ('director_names','first'),
#                                                 average_rating_value=('rating_value', roundOfMean),
#                                                 average_rating_count=('rating_count', roundOfMean),

#                                                 movies_produced = ('movie_id', 'count'),
#                                                 career_Length = ('Career_Year_Number','max'),
#                                                 CareerStartYear = ('CareerStartYear','first'),
#                                                 Gender =('Gender','first'),
#                                                 birthYear = ('birthYear','first'),

#                                                 median_inter_event_time = ('inter_event_time','median'),
#                                                 average_inter_event_time = ('inter_event_time',roundOfMean),
#                                                 total_review_count_user = ('review_count_user','sum'),
#                                                 total_review_count_critic = ('review_count_critic','sum'),

#                                                 total_metascore = ('metascore','sum'),
# #                                                 average_metascore = ('metascore',roundOfMean),
#                                                 median_metascore = ('metascore','median'),
                                                
#                                                 total_awards_won = ('awards_won','sum'),
#                                                 total_awards_nominated = ('awards_nominated','sum'),
                                                
#                                                 total_gross_value = ('gross_value','sum'),
#                                                 total_budget_value = ('budget_value','sum'),
                                                
#                                                 budget_cur_AUD = ('budget_cur_AUD','first'),
#                                                 budget_cur_CAD = ('budget_cur_CAD','first'),
#                                                 budget_cur_EUR = ('budget_cur_EUR','first'),
#                                                 budget_cur_GBP = ('budget_cur_GBP','first'),
#                                                 budget_cur_INR = ('budget_cur_INR','first'),
#                                                 budget_cur_USD = ('budget_cur_USD','first'),
                                                
#                                                 average_runtime_of_movie = ('runtime',roundOfMean),
                                                
#                                                 country_Argentina = ('country_Argentina','max'),
#                                                 country_Australia = ('country_Australia','max'),
#                                                 country_Brazil = ('country_Brazil','max'),
#                                                 country_Canada = ('country_Canada','max'),
#                                                 country_Denmark = ('country_Denmark','max'),
#                                                 country_Finland = ('country_Finland','max'),
#                                                 country_France = ('country_France','max'),
#                                                 country_Germany = ('country_Germany','max'),
#                                                 country_Greece = ('country_Greece','max'),
#                                                 country_Hong_Kong = ('country_Hong_Kong','max'),
#                                                 country_India = ('country_India','max'),
#                                                 country_Italy = ('country_Italy','max'),
#                                                 country_Japan = ('country_Japan','max'),
#                                                 country_Mexico = ('country_Mexico','max'),
#                                                 country_Netherlands = ('country_Netherlands','max'),
#                                                 country_Other = ('country_Other','max'),
#                                                 country_Russia = ('country_Russia','max'),
#                                                 country_Soviet_Union = ('country_Soviet_Union','max'),
#                                                 country_Spain = ('country_Spain','max'),
#                                                 country_Sweden = ('country_Sweden','max'),
#                                                 country_Turkey = ('country_Turkey','max'),
#                                                 country_UK = ('country_UK','max'),
#                                                 country_USA = ('country_USA','max'),
#                                                 country_West_Germany = ('country_West_Germany','max'),
                                                
#                                                 total_genre_Action = ('genre_Action','sum'),
#                                                 total_genre_Adult = ('genre_Adult','sum'),
#                                                 total_genre_Adventure = ('genre_Adventure','sum'),
#                                                 total_genre_Animation = ('genre_Animation','sum'),
#                                                 total_genre_Biography = ('genre_Biography','sum'),
#                                                 total_genre_Comedy = ('genre_Comedy','sum'),
#                                                 total_genre_Crime = ('genre_Crime','sum'),
#                                                 total_genre_Documentary = ('genre_Documentary','sum'),
#                                                 total_genre_Drama = ('genre_Drama','sum'),
#                                                 total_genre_Family = ('genre_Family','sum'),
#                                                 total_genre_Fantasy = ('genre_Fantasy','sum'),
#                                                 total_genre_Film_Noir = ('genre_Film_Noir','sum'),
#                                                 total_genre_Game_Show = ('genre_Game_Show','sum'),
#                                                 total_genre_History = ('genre_History','sum'),
#                                                 total_genre_Horror = ('genre_Horror','sum'),
#                                                 total_genre_Music = ('genre_Music','sum'),
#                                                 total_genre_Musical = ('genre_Musical','sum'),
#                                                 total_genre_Mystery = ('genre_Mystery','sum'),
#                                                 total_genre_News = ('genre_News','sum'),
#                                                 total_genre_None = ('genre_None','sum'),
#                                                 total_genre_Reality_TV = ('genre_Reality_TV','sum'),
#                                                 total_genre_Romance = ('genre_Romance','sum'),
#                                                 total_genre_Sci_Fi = ('genre_Sci_Fi','sum'),
#                                                 total_genre_Short = ('genre_Short','sum'),
#                                                 total_genre_Sport = ('genre_Sport','sum'),
#                                                 total_genre_Talk_Show = ('genre_Talk_Show','sum'),
#                                                 total_genre_Thriller = ('genre_Thriller','sum'),
#                                                 total_genre_War = ('genre_War','sum'),
#                                                 total_genre_Western = ('genre_Western','sum'),
                                                
#                                                 genre_Action = ('genre_Action','max'),
#                                                 genre_Adult = ('genre_Adult','max'),
#                                                 genre_Adventure = ('genre_Adventure','max'),
#                                                 genre_Animation = ('genre_Animation','max'),
#                                                 genre_Biography = ('genre_Biography','max'),
#                                                 genre_Comedy = ('genre_Comedy','max'),
#                                                 genre_Crime = ('genre_Crime','max'),
#                                                 genre_Documentary = ('genre_Documentary','max'),
#                                                 genre_Drama = ('genre_Drama','max'),
#                                                 genre_Family = ('genre_Family','max'),
#                                                 genre_Fantasy = ('genre_Fantasy','max'),
#                                                 genre_Film_Noir = ('genre_Film_Noir','max'),
#                                                 genre_Game_Show = ('genre_Game_Show','max'),
#                                                 genre_History = ('genre_History','max'),
#                                                 genre_Horror = ('genre_Horror','max'),
#                                                 genre_Music = ('genre_Music','max'),
#                                                 genre_Musical = ('genre_Musical','max'),
#                                                 genre_Mystery = ('genre_Mystery','max'),
#                                                 genre_News = ('genre_News','max'),
#                                                 genre_None = ('genre_None','max'),
#                                                 genre_Reality_TV = ('genre_Reality_TV','max'),
#                                                 genre_Romance = ('genre_Romance','max'),
#                                                 genre_Sci_Fi = ('genre_Sci_Fi','max'),
#                                                 genre_Short = ('genre_Short','max'),
#                                                 genre_Sport = ('genre_Sport','max'),
#                                                 genre_Talk_Show = ('genre_Talk_Show','max'),
#                                                 genre_Thriller = ('genre_Thriller','max'),
#                                                 genre_War = ('genre_War','max'),
#                                                 genre_Western = ('genre_Western','max'),
                                                
#                                                 director_profession_primary = ('director_profession_primary','first'),
#                                                 director_profession_secondary = ('director_profession_secondary','first'),
#                                                 director_profession_tertiary = ('director_profession_tertiary','first'),
#                                                 director_known_titles_count = ('director_known_titles_count', 'first'),
#                                                 director_known_titles_average_rating_value = ('director_known_titles_average_rating_value','first'),
                                                
#                                                 language_Arabic = ('language_Arabic','max'),
#                                                 language_Dutch = ('language_Dutch','max'),
#                                                 language_English = ('language_English','max'),
#                                                 language_French = ('language_French','max'),
#                                                 language_German = ('language_German','max'),
#                                                 language_Greek = ('language_Greek','max'),
#                                                 language_Hindi = ('language_Hindi','max'),
#                                                 language_Italian = ('language_Italian','max'),
#                                                 language_Japanese = ('language_Japanese','max'),
#                                                 language_Mandarin = ('language_Mandarin','max'),
#                                                 language_Other = ('language_Other','max'),
#                                                 language_Portuguese = ('language_Portuguese','max'),
#                                                 language_Russian = ('language_Russian','max'),
#                                                 language_Spanish = ('language_Spanish','max'),
#                                                 language_Swedish = ('language_Swedish','max'),
#                                                 language_Turkish = ('language_Turkish','max'),
                                               
#                                                ).reset_index()

# cumulativeDirectorDF['average_movie_per_year'] = round(cumulativeDirectorDF.movies_produced / cumulativeDirectorDF.career_Length,2)

# # # cumulativeDirectorDF['average_time_between_consecutive_movies'] = round(cumulativeDirectorDF['time_between_consecutive_movies'] / (cumulativeDirectorDF.movies_produced),2)
# # cumulativeDirectorDF['average_inter_event_time'] = round((cumulativeDirectorDF['career_Length']-1) / (cumulativeDirectorDF['movies_produced'] - 1) ,2)
# cumulativeDirectorDF = cumulativeDirectorDF.fillna(0)
# # cumulativeDirectorDF[cumulativeDirectorDF.movies_produced>1]
# print("Shape of dataset after group by : ",cumulativeDirectorDF.shape)

## Preparing Director dataset 3

In [55]:
# Groupby List
groupByListDirectors = ['director_ids']

print("Shape of dataset begore group by : ",withFirstMovieYearDF.shape)

# Group by aggregation to generate columns
cumulativeDirectorDF = withFirstMovieYearDF.groupby(groupByListDirectors)\
                                           .agg(\
                                                director_name = ('director_names','first'),
                                                average_rating_value=('rating_value', roundOfMean),
                                                average_rating_count=('rating_count', roundOfMean),

                                                movies_produced = ('movie_id', 'count'),
                                                career_Length = ('Career_Year_Number','max'),
                                                CareerStartYear = ('CareerStartYear','first'),
                                                Gender =('Gender','first'),
                                                birthYear = ('birthYear','first'),

                                                median_inter_event_time = ('inter_event_time','median'),
                                                average_inter_event_time = ('inter_event_time',roundOfMean),
                                                total_review_count_user = ('review_count_user','sum'),
                                                total_review_count_critic = ('review_count_critic','sum'),

                                                total_metascore = ('metascore','sum'),
#                                                 average_metascore = ('metascore',roundOfMean),
                                                median_metascore = ('metascore','median'),
                                                
                                                total_awards_won = ('awards_won','sum'),
                                                total_awards_nominated = ('awards_nominated','sum'),
                                                
                                                total_gross_value = ('gross_value','sum'),
                                                total_budget_value = ('budget_value','sum'),
                                                
                                                average_runtime_of_movie = ('runtime',roundOfMean),
                                                
                                                director_profession_primary = ('director_profession_primary','first'),
                                                director_profession_secondary = ('director_profession_secondary','first'),
                                                director_profession_tertiary = ('director_profession_tertiary','first'),
                                                director_known_titles_count = ('director_known_titles_count', 'first'),
                                                director_known_titles_average_rating_value = ('director_known_titles_average_rating_value','first'),
                                                
                                                
                                                total_genre_Action = ('genre_Action','sum'),
                                                total_genre_Adult = ('genre_Adult','sum'),
                                                total_genre_Adventure = ('genre_Adventure','sum'),
                                                total_genre_Animation = ('genre_Animation','sum'),
                                                total_genre_Biography = ('genre_Biography','sum'),
                                                total_genre_Comedy = ('genre_Comedy','sum'),
                                                total_genre_Crime = ('genre_Crime','sum'),
                                                total_genre_Documentary = ('genre_Documentary','sum'),
                                                total_genre_Drama = ('genre_Drama','sum'),
                                                total_genre_Family = ('genre_Family','sum'),
                                                total_genre_Fantasy = ('genre_Fantasy','sum'),
                                                total_genre_Film_Noir = ('genre_Film_Noir','sum'),
                                                total_genre_Game_Show = ('genre_Game_Show','sum'),
                                                total_genre_History = ('genre_History','sum'),
                                                total_genre_Horror = ('genre_Horror','sum'),
                                                total_genre_Music = ('genre_Music','sum'),
                                                total_genre_Musical = ('genre_Musical','sum'),
                                                total_genre_Mystery = ('genre_Mystery','sum'),
                                                total_genre_News = ('genre_News','sum'),
                                                total_genre_None = ('genre_None','sum'),
                                                total_genre_Reality_TV = ('genre_Reality_TV','sum'),
                                                total_genre_Romance = ('genre_Romance','sum'),
                                                total_genre_Sci_Fi = ('genre_Sci_Fi','sum'),
                                                total_genre_Short = ('genre_Short','sum'),
                                                total_genre_Sport = ('genre_Sport','sum'),
                                                total_genre_Talk_Show = ('genre_Talk_Show','sum'),
                                                total_genre_Thriller = ('genre_Thriller','sum'),
                                                total_genre_War = ('genre_War','sum'),
                                                total_genre_Western = ('genre_Western','sum'),
                                                
                                                genre_Action = ('genre_Action','max'),
                                                genre_Adult = ('genre_Adult','max'),
                                                genre_Adventure = ('genre_Adventure','max'),
                                                genre_Animation = ('genre_Animation','max'),
                                                genre_Biography = ('genre_Biography','max'),
                                                genre_Comedy = ('genre_Comedy','max'),
                                                genre_Crime = ('genre_Crime','max'),
                                                genre_Documentary = ('genre_Documentary','max'),
                                                genre_Drama = ('genre_Drama','max'),
                                                genre_Family = ('genre_Family','max'),
                                                genre_Fantasy = ('genre_Fantasy','max'),
                                                genre_Film_Noir = ('genre_Film_Noir','max'),
                                                genre_Game_Show = ('genre_Game_Show','max'),
                                                genre_History = ('genre_History','max'),
                                                genre_Horror = ('genre_Horror','max'),
                                                genre_Music = ('genre_Music','max'),
                                                genre_Musical = ('genre_Musical','max'),
                                                genre_Mystery = ('genre_Mystery','max'),
                                                genre_News = ('genre_News','max'),
                                                genre_None = ('genre_None','max'),
                                                genre_Reality_TV = ('genre_Reality_TV','max'),
                                                genre_Romance = ('genre_Romance','max'),
                                                genre_Sci_Fi = ('genre_Sci_Fi','max'),
                                                genre_Short = ('genre_Short','max'),
                                                genre_Sport = ('genre_Sport','max'),
                                                genre_Talk_Show = ('genre_Talk_Show','max'),
                                                genre_Thriller = ('genre_Thriller','max'),
                                                genre_War = ('genre_War','max'),
                                                genre_Western = ('genre_Western','max'),
                                                
                                               
                                               ).reset_index()

cumulativeDirectorDF['average_movie_per_year'] = round(cumulativeDirectorDF.movies_produced / cumulativeDirectorDF.career_Length,2)

# # cumulativeDirectorDF['average_time_between_consecutive_movies'] = round(cumulativeDirectorDF['time_between_consecutive_movies'] / (cumulativeDirectorDF.movies_produced),2)
# cumulativeDirectorDF['average_inter_event_time'] = round((cumulativeDirectorDF['career_Length']-1) / (cumulativeDirectorDF['movies_produced'] - 1) ,2)
cumulativeDirectorDF = cumulativeDirectorDF.fillna(0)
# cumulativeDirectorDF[cumulativeDirectorDF.movies_produced>1]
print("Shape of dataset after group by : ",cumulativeDirectorDF.shape)

Shape of dataset begore group by :  (2653, 90)
Shape of dataset after group by :  (1215, 84)

### Number of countries movies released in per director

In [56]:
print('Shape of data :', cumulativeDirectorDF.shape)
# Extract the columns starting with countries 
total_countries_movies_released_filter_col = [col for col in cumulativeDirectorDF if col.startswith('country_')]

# Store countries awards in df
countries_movies_df = cumulativeDirectorDF[total_countries_movies_released_filter_col]

# Drop these from the original dataframe
cumulativeDirectorDF.drop(columns= total_countries_movies_released_filter_col,inplace =True )
print('Shape of data after dropping the countries features:', cumulativeDirectorDF.shape)


# Extract the number of countries each movie was released in
cumulativeDirectorDF['num_countries_screened'] = countries_movies_df.sum(axis='columns')
print('Shape of data after extracting the number of countries where the movies was released:', cumulativeDirectorDF.shape)

Shape of data : (1215, 84)
Shape of data after dropping the countries features: (1215, 84)
Shape of data after extracting the number of countries where the movies was released: (1215, 85)

In [57]:
cumulativeDirectorDF['num_countries_screened'].value_counts()
cumulativeDirectorDF.drop(columns = 'num_countries_screened',inplace = True)

### Number of genres released per director

In [58]:
print('Shape of data :', cumulativeDirectorDF.shape)
# Extract the columns starting with genre
total_genre_movies_released_filter_col = [col for col in cumulativeDirectorDF if col.startswith('genre_')]

# Store countries awards in df
genre_movies_df = cumulativeDirectorDF[total_genre_movies_released_filter_col]

# Drop these from the original dataframe
cumulativeDirectorDF.drop(columns= total_genre_movies_released_filter_col,inplace =True )
print('Shape of data after dropping the genre features:', cumulativeDirectorDF.shape)

# Extract the number of countries each movie was released in
cumulativeDirectorDF['num_genres_directed'] = genre_movies_df.sum(axis='columns')
print('Shape of data after extracting the number of genres released by a director the movies was released:', cumulativeDirectorDF.shape)

Shape of data : (1215, 84)
Shape of data after dropping the genre features: (1215, 55)
Shape of data after extracting the number of genres released by a director the movies was released: (1215, 56)

### Number of languages released per director

In [59]:
print('Shape of data :', cumulativeDirectorDF.shape)
# Extract the columns starting with genre
total_languages_movies_released_filter_col = [col for col in cumulativeDirectorDF if col.startswith('language_')]

# Store countries awards in df
language_movies_df = cumulativeDirectorDF[total_languages_movies_released_filter_col]

# Drop these from the original dataframe
cumulativeDirectorDF.drop(columns= total_languages_movies_released_filter_col,inplace =True )
print('Shape of data after dropping the genre features:', cumulativeDirectorDF.shape)

# Extract the number of countries each movie was released in
cumulativeDirectorDF['num_languages_released'] = language_movies_df.sum(axis='columns')
print('Shape of data after extracting the number of languages released by a director in which the movies were released:', cumulativeDirectorDF.shape)

Shape of data : (1215, 56)
Shape of data after dropping the genre features: (1215, 56)
Shape of data after extracting the number of languages released by a director in which the movies were released: (1215, 57)

### remove the column in case of dataset 3

In [61]:
cumulativeDirectorDF['num_languages_released'].value_counts()
cumulativeDirectorDF.drop(columns = 'num_languages_released',inplace = True)

In [62]:
cumulativeDirectorDF.head(10)

,director_ids,director_name,average_rating_value,average_rating_count,movies_produced,career_Length,CareerStartYear,Gender,birthYear,median_inter_event_time,...,total_genre_Romance,total_genre_Sci_Fi,total_genre_Short,total_genre_Sport,total_genre_Talk_Show,total_genre_Thriller,total_genre_War,total_genre_Western,average_movie_per_year,num_genres_directed
0,nm0000040,Stanley Kubrick,7.30,231646.00,1,49,1951,Male,1928,0.0,...,0,0,0,0,0,1,0,0,0.02,3
1,nm0000095,Woody Allen,6.91,64233.13,15,51,1966,Male,1935,1.0,...,8,0,0,0,0,1,0,0,0.29,7
2,nm0000104,Antonio Banderas,6.30,5964.00,1,1,1999,Male,1960,0.0,...,0,0,0,0,0,0,0,0,1.00,3
3,nm0000106,Drew Barrymore,6.90,56419.00,1,6,2004,Male,1975,0.0,...,0,0,0,1,0,0,0,0,0.17,2
4,nm0000108,Luc Besson,6.30,89739.00,1,33,1981,Male,1959,0.0,...,0,0,0,0,0,1,0,0,0.03,3
5,nm0000110,Kenneth Branagh,6.60,104537.50,2,27,1989,Male,1960,1.0,...,1,0,0,0,0,1,0,0,0.07,6
6,nm0000114,Steve Buscemi,6.60,10758.00,1,9,1992,Male,1957,0.0,...,0,0,0,0,0,0,0,0,0.11,2
7,nm0000116,James Cameron,7.30,409454.50,2,26,1978,Female,1954,6.0,...,1,0,0,0,0,0,0,0,0.08,4
8,nm0000118,John Carpenter,5.50,43543.00,2,40,1962,Male,1948,3.0,...,0,1,0,0,0,1,0,0,0.05,4
9,nm0000122,Charles Chaplin,8.60,147990.00,1,23,1914,Male,1889,0.0,...,1,0,0,0,0,0,0,0,0.04,4

## Generate Director Dataframe - Original data with average metascore value

In [63]:
# # Groupby List
# groupByListDirectors = ['director_ids']

# # Group by aggregation to generate columns
# directorDataDFwithMetascore = moviesWithMetaScoreDF.groupby(groupByListDirectors) \
#                                      .agg({'metascore':roundOfMean,
#                                           'movie_id':'count'}) \
#                                      .reset_index()
# # Columns renamed
# directorDataDFwithMetascore = directorDataDFwithMetascore.rename(columns={'metascore':'average_metascore',
#                                                                          'movie_id':'movies_produced_metascore',})
# # Merge the Directors Career Start Year with the original data set
# # directorDataDFwithMetascore = directorDataDFwithMetascore.merge(directorDataDF, on='director_ids',how = 'left')
# directorDataDFwithMetascore = directorDataDF.merge(directorDataDFwithMetascore, on='director_ids',how = 'left')
# directorDataDFwithMetascore['total_metascore'] = round(directorDataDFwithMetascore.average_metascore * directorDataDFwithMetascore.movies_produced_metascore,2)
# directorDataDFwithMetascore

In [64]:
cumulativeDirectorDF['Gender'].value_counts()

Male      1038
Female     177
Name: Gender, dtype: int64

In [65]:
print(" Female Gender percentage of the cumulative dataframe : ",cumulativeDirectorDF.Gender.value_counts()[1]/(cumulativeDirectorDF.Gender.value_counts()[0] + cumulativeDirectorDF.Gender.value_counts()[1]))

 Female Gender percentage of the cumulative dataframe :  0.145679012345679

In [66]:
cumulativeDirectorDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 56 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   director_ids                                1215 non-null   object
 1   director_name                               1215 non-null   object
 2   average_rating_value                        1215 non-null   float64
 3   average_rating_count                        1215 non-null   float64
 4   movies_produced                             1215 non-null   int64
 5   career_Length                               1215 non-null   int64
 6   CareerStartYear                             1215 non-null   int64
 7   Gender                                      1215 non-null   object
 8   birthYear                                   1215 non-null   int32
 9   median_inter_event_time                     1215 non-null   float64
 10  average_inter_event_time                    1215 non-null   float64
 11  total_review_count_user                     1215 non-null   int64
 12  total_review_count_critic                   1215 non-null   int64
 13  total_metascore                             1215 non-null   int64
 14  median_metascore                            1215 non-null   float64
 15  total_awards_won                            1215 non-null   float64
 16  total_awards_nominated                      1215 non-null   float64
 17  total_gross_value                           1215 non-null   float64
 18  total_budget_value                          1215 non-null   float64
 19  average_runtime_of_movie                    1215 non-null   float64
 20  director_profession_primary                 1215 non-null   int64
 21  director_profession_secondary               1215 non-null   int64
 22  director_profession_tertiary                1215 non-null   int64
 23  director_known_titles_count                 1215 non-null   int64
 24  director_known_titles_average_rating_value  1215 non-null   float64
 25  total_genre_Action                          1215 non-null   int64
 26  total_genre_Adult                           1215 non-null   int64
 27  total_genre_Adventure                       1215 non-null   int64
 28  total_genre_Animation                       1215 non-null   int64
 29  total_genre_Biography                       1215 non-null   int64
 30  total_genre_Comedy                          1215 non-null   int64
 31  total_genre_Crime                           1215 non-null   int64
 32  total_genre_Documentary                     1215 non-null   int64
 33  total_genre_Drama                           1215 non-null   int64
 34  total_genre_Family                          1215 non-null   int64
 35  total_genre_Fantasy                         1215 non-null   int64
 36  total_genre_Film_Noir                       1215 non-null   int64
 37  total_genre_Game_Show                       1215 non-null   int64
 38  total_genre_History                         1215 non-null   int64
 39  total_genre_Horror                          1215 non-null   int64
 40  total_genre_Music                           1215 non-null   int64
 41  total_genre_Musical                         1215 non-null   int64
 42  total_genre_Mystery                         1215 non-null   int64
 43  total_genre_News                            1215 non-null   int64
 44  total_genre_None                            1215 non-null   int64
 45  total_genre_Reality_TV                      1215 non-null   int64
 46  total_genre_Romance                         1215 non-null   int64
 47  total_genre_Sci_Fi                          1215 non-null   int64
 48  total_genre_Short                           1215 non-null   int64
 49  total_genre_Sport                           1215 non-null   int64
 50  total_genre_Talk_Show                       1215 non-null   int64
 51  total_genre_Thriller                        1215 non-null   int64
 52  total_genre_War                             1215 non-null   int64
 53  total_genre_Western                         1215 non-null   int64
 54  average_movie_per_year                      1215 non-null   float64
 55  num_genres_directed                         1215 non-null   int64
dtypes: float64(12), int32(1), int64(40), object(3)
memory usage: 526.9+ KB

In [67]:
cumulativeDirectorDF.director_ids.nunique()

1215

In [68]:
save_to_file(cumulativeDirectorDF,saveFileToPath)

In [ ]:
break

# End

# Plotting and Visualization

### Number of movies released along the Career Year Number

In [ ]:
# Plotting a bar graph based on the first 20 value counts

def plot_value_count(df,columnName,toCount,plot_title = 'Value count of data'):
    df_columnName_count  = df[columnName].value_counts()
    df_columnName_count = df_columnName_count[:toCount,]
    plt.figure(figsize=(10,5))
    sns.barplot(df_columnName_count.index, df_columnName_count.values, alpha=0.8)
    plt.title(plot_title)
    plt.ylabel('Number of occurence', fontsize=12)
    plt.xlabel(columnName, fontsize=12)
    plt.show()

In [ ]:
plot_value_count(withFirstMovieYearDF,'Career_Year_Number',20,'Career Year Number and the movies produced')

### Plot features based on Gender

In [ ]:
def plot_features_WRT_gender(df,columnCriteriaName,columnFeatureName):
    diction={}
    for i in df[columnCriteriaName].value_counts().index:
        diction["{0}_{1}".format(columnFeatureName,i)] = df[(df[columnCriteriaName] == i)][columnFeatureName]
    for k,v in diction.items():
        sns.distplot(v,label=[k])
        plt.legend(bbox_to_anchor=(1.05, 0.6), loc=2, borderaxespad=0.)
    return pd.DataFrame.from_dict(diction)

In [ ]:
x = plot_features_WRT_gender(data,"Gender","rating_value")

In [ ]:
x = plot_features_WRT_gender(cumulativeDirectorDF,"Gender","median_inter_event_time")

In [ ]:
plot_value_count(cumulativeDirectorDF[cumulativeDirectorDF.Gender == 'Female'],'median_inter_event_time',20)

In [ ]:
# # Plotting a bar graph of the number of movies released in each Career Year Number, for the first 20 Career years listed

# career_year_count  = withFirstMovieYearDF['Career_Year_Number'].value_counts()
# career_year_count = career_year_count[:20,]
# plt.figure(figsize=(10,5))
# sns.barplot(career_year_count.index, career_year_count.values, alpha=0.8)
# plt.title('Career Year Number and the movies produced')
# plt.ylabel('Number of Movies', fontsize=12)
# plt.xlabel('Career Year Number', fontsize=12)
# plt.show()

In [ ]:
# cumulativeDirectorDF.corr(method = 'pearson')
# cumulativeDirectorDF.corr(method = 'kendall')

In [ ]:
cumulativeDirectorDF.columns

In [ ]:
# Removing the directors having only n movies produced
n_movies_produced = 1

removedDF = cumulativeDirectorDF[cumulativeDirectorDF.movies_produced> n_movies_produced]

In [ ]:
# Plot Log normal Distribution

def log_normal_plot(df,columnName,binSize="auto"):
    df[columnName].hist(bins= binSize,grid=False,density= True)
    plt.xlabel(columnName, fontsize=15)
    plt.ylabel("Frequency",fontsize=15)
    plt.xscale('log')

In [ ]:
log_normal_plot(removedDF,"movies_produced")

In [ ]:
# Normal distribution
def distribution_fit(df,columnName):
    # Empirical average and variance are computed
    avg = np.mean(df[columnName])
    var = np.var(df[columnName])
    
    # From that, we know the shape of the fitted Gaussian.
    pdf_x = np.linspace(np.min(df[columnName]),np.max(df[columnName]),100)
    pdf_y = 1.0/np.sqrt(2*np.pi*var)*np.exp(-0.5*(pdf_x-avg)**2/var)
    
    # Then we plot :
    plt.figure()
    plt.hist(df[columnName],30,density=True)
    plt.plot(pdf_x,pdf_y,'k--')
    
    blue_patch = mpatches.Patch(color='blue', label= columnName)
    black_dotted = mlines.Line2D([], [], color='black',markersize=15, label='Fit')
    plt.xlabel(columnName)
    plt.legend(handles=[blue_patch,black_dotted])
    plt.show()

In [ ]:
distribution_fit(removedDF,"movies_produced")

In [ ]:
# def multi_features_distribution_fit_plot(df,dataTypesToInclude):
#     for column in df.select_dtypes(include=['int64','double']).columns:
#         distribution_fit(df,column)
        
# def multi_features_value_counts_plot(df,dataTypesToInclude):
#     for column in df.select_dtypes(include=['int64','double']).columns | ['Gender']:
#         plot_value_count(df,column,20)

In [ ]:
def multi_features_plot(df,dataTypesToInclude,plotType = 'value_count'):
    plotType = plotType.lower().translate(str.maketrans('', '', string.whitespace))
    if(plotType == 'value_count'):
        for column in df.select_dtypes(include=['int64','double']).columns | ['Gender']:
            plot_value_count(df,column,100)
    elif(plotType == 'distribution'):
        for column in df.select_dtypes(include=['int64','double']).columns:
            distribution_fit(df,column)
    elif(plotType == 'log_normal'):
        for column in df.select_dtypes(include=['int64','double']).columns:
            log_normal_plot(df,column)
    else:
        print("Oops")

In [ ]:
cumulativeDirectorDF.average_movie_per_year.value_counts()

In [ ]:
multi_features_plot(removedDF,['int64','double'])
# multi_features_plot(removedDF,['int64','double'],'distribution')
# multi_features_plot(removedDF,['int64','double'],'log_normal')

In [ ]:
multi_features_plot(cumulativeDirectorDF,['int64','double'])
# multi_features_plot(directorDataDF,['int64','double'],'distribution')
# multi_features_plot(removedDF,['int64','double'],'log_normal')