In [7]:
import pandas as pd 
import numpy as np
import os
import time
from datetime import datetime
from pandas.compat import StringIO
import re

In [8]:
fileLocation = 'C:\\Yuva\\ITU\\3rd Sem\\Research Topics\\Movies & Gender\\Website - IMDB\\name\\data.tsv'
saveFileToPath = "C:\\Yuva\\ITU\\3rd Sem\\Research Topics\\Movies & Gender\\Website - IMDB\\name"

In [3]:
# Import as Dataframe
df = pd.read_csv(fileLocation, sep='\t')

In [4]:
df.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0049189,tt0057345,tt0054452,tt0059956"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0069467,tt0050986,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038787,tt0036855,tt0071877,tt0038109"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0033870,tt0043265,tt0037382,tt0034583"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0047296,tt0078788,tt0070849,tt0068646"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,soundtrack","tt0061184,tt0057877,tt0059749,tt0087803"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0055256,tt0035575,tt0029870,tt0031867"

In [9]:
explodeFileLocation = 'C:\\Yuva\\ITU\\3rd Sem\\Research Topics\\Movies & Gender\\Data\\IMDb\\1stNov2019_explode.csv'
saveMergeFilePath = 'C:\\Yuva\\ITU\\3rd Sem\\Research Topics\\Movies & Gender\\Data\\IMDb'
explodedDF = pd.read_csv(explodeFileLocation,encoding="utf8")

In [11]:
explodedDF.rename(columns={'director_ids':'nconst'}, inplace=True)

In [13]:
explodedAndMergedDF = explodedDF.merge(df, on='nconst')
explodedAndMergedDF.head()

,nconst,movie_id,title,review_count_user,review_count_critic,metascore,rating_value,rating_count,date_published,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0005690,tt0000001,Carmencita - spanyol tánc (1894) - IMDb,12,2,None,5.8,1255,1894-03-10,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"
1,nm0005690,tt0000005,A patkolókovács (1893) - IMDb,18,3,None,6.2,1499,1893-05-09,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"
2,nm0005690,tt0000006,Kínai ópiumbarlang (1894) - IMDb,None,None,None,5.7,70,1894-10-17,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"
3,nm0005690,tt0000007,A Corbett-Courtney bokszmeccs (1894) - IMDb,5,2,None,5.5,499,2008-12-31,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"
4,nm0005690,tt0000008,Edison asszisztense tüsszent (1894) - IMDb,19,4,None,5.6,1341,1894-01-09,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"

In [15]:
explodedAndMergedDF = explodedAndMergedDF.sort_values(by ='movie_id')
explodedAndMergedDF.head()

,nconst,movie_id,title,review_count_user,review_count_critic,metascore,rating_value,rating_count,date_published,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0005690,tt0000001,Carmencita - spanyol tánc (1894) - IMDb,12,2,None,5.8,1255,1894-03-10,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"
72,nm0721526,tt0000002,A bohóc és kutyái (1892) - IMDb,0,None,None,6.5,148,1892-10-28,Émile Reynaud,1844,1918,director,"tt2184231,tt0000003,tt2184201,tt0413219"
73,nm0721526,tt0000003,Szegény Pierrot (1892) - IMDb,12,5,None,6.6,819,1892-10-28,Émile Reynaud,1844,1918,director,"tt2184231,tt0000003,tt2184201,tt0413219"
74,nm0721526,tt0000004,Egy jó pohár sör (1892) - IMDb,1,None,None,6.6,90,1892-10-28,Émile Reynaud,1844,1918,director,"tt2184231,tt0000003,tt2184201,tt0413219"
1,nm0005690,tt0000005,A patkolókovács (1893) - IMDb,18,3,None,6.2,1499,1893-05-09,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt6687694,tt1428455,tt1496763"

In [16]:
# Search for a value in a column

explodedAndMergedDF.loc[explodedAndMergedDF['movie_id'] == 'tt0000002']

,nconst,movie_id,title,review_count_user,review_count_critic,metascore,rating_value,rating_count,date_published,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
72,nm0721526,tt0000002,A bohóc és kutyái (1892) - IMDb,0,None,None,6.5,148,1892-10-28,Émile Reynaud,1844,1918,director,"tt2184231,tt0000003,tt2184201,tt0413219"

In [17]:
explodedAndMergedDF['movie_id'].nunique()

516213

In [18]:
explodedDF['movie_id'].nunique()

518285

In [ ]:
explodedAndMergedDF.to_csv(saveMergeFilePath+ '\\explodeNMerged.csv',index=False, encoding="utf8" )